<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p>
          <strong>Title:</strong>
          <%=render product%>
         </p>
       
      </div>
    </div>
  <% end %>
</div>




 


